body.dark {
    background-color: #292c35;

    & .title-content{
        background-color: #292c35;
        margin: 1rem 0;

        & span {
            padding: 1rem 3rem;
            color: white;
            border-radius: 20px;
            background: linear-gradient(to right, rgba(11, 163, 96, 0.55), rgba(13, 154, 69, 0.8));
        }
    }
    & .loop-client-container{
        &::before{
            left: 0;
            background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0 ) 30%) !important;
        }
        &::after {
            right: 0;
            background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(255,255,255,0 ) 30%) !important;
        }
    }

    & footer, & .loop-client-container, & li.loop-client-item {
        background-color: #292c35 !important;
    }
}

body.dark {
    h1,h2,h3,h4,h5,h6,p,a,span,li::marker,i {
        color: white !important;
    }
    .list-product {
        border: 1px solid rgba(255,255,255, 0.7);
    }

}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border: 1px solid white;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}