
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 20px 1px rgba(108, 108, 108, 0.3);
    transition: all 1s ease;

    & p {
        background: white;
        display: inline-block;
        padding: 0 2rem;
        border-radius: 5px;
    }
}

#foo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foo-content {
    width: 100%;
    max-width: 560px;
    text-align: center;
    margin: 1rem 0;
}

.foo-form {
    background-color: white;
    width: 100%;
    max-width: 748px;
    padding: 1rem 2rem;
    border-radius: 15px;
}

#contactUs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & div:nth-child(1), div:nth-child(2) {
        flex-basis: calc(50% - 5px);
    }

    & div {
        flex-basis: 100%;

        input {
            padding: 0.25rem;
        }
    }
}

.form-section {
    display: grid;
}

.show-alert {
    opacity: 1 !important;
    top: 50% !important;
}

#alert {
    position: fixed;
    left: 50%;
    top: -50%;
    /*max-width: 500px;*/
    margin-left: -300px;
    margin-top: -100px;
    opacity: 0;
    transition: top 1s ease,
    opacity 1500ms ease-in-out;
}

.alert {
    background-color: ghostwhite;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.75);
    max-width: 600px;
    position: fixed;
    z-index: 10;
}
.foo-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 2vw;
    border-top: 1px solid rgba(108, 108, 108, 0.3);
    margin-top: 20px;
    box-shadow: 0 0 20px 1px rgba(108, 108, 108, 0.3);

    & p, a {
        text-decoration: none;
        background: white;
        color: #292c35;
        padding: 0.25rem 2rem;
        border-radius: 10px;

        &:hover {
            background: linear-gradient(to right, #3238ec, #ff1ce0, #67e0aa) !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }
}
.foo-address {
    display: grid;
    gap: 5px;
    & a:first-child{
        background: none;
    }
    & img {
        max-width: 250px;
    }
}
.foo-menu, .foo-social {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    justify-content: end;
    align-items: center;
}
.foo-social {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: end;
    justify-content: center;

    a {
        font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
    .foo-form {

    }
    #alert{
        margin-left: -250px;
    }
    .alert {
        max-width: 500px;
    }
}

@media only screen and (max-width: 550px) {
    #alert {
        margin-left: 0 !important;
    }
    .alert {
        max-width: 350px;
        margin-left: -175px !important;
    }

    #contactUs {
        display: grid;
    }

}