/*main*/
@import "nav.css";
@import "header.css";
@import "main.css";
@import "footer.css";
/*utils*/
@import "darkmode.css";
@import "slider.css";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.title-content {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: ghostwhite;
    font-weight: bold;
}

button.close {
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.bg-blur {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
}

button[type="submit"] {
    padding: 1rem 4rem;
    border-radius: 50px;
    border: none;
    background-size: 300% 100%;

    transition: all .4s ease-in-out;

    &:hover {
        background-position: 100% 0;
        transform: translateY(-15px);
        transition: all .4s ease-in-out;
    }
}

.btn-primary {
    background-image: linear-gradient(to right, #0ba360, #b6c06b, #0d1c9a, #67e0aa);

}
