nav {
    position: sticky !important;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 99;

}

.nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    z-index: 100;

    & > a, .nav-menu > a {
        text-decoration: none;
        color: white;
        padding: 0 1rem;
    }

    & button[data-view="hamburger"] {
        padding: 0;
        margin-left: 1rem;
    }

    & a:hover {
        color: yellow;
        font-weight: bold;
    }
}

#changeBg {
    margin: 0 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(to right, #ff1ce0, #f1c40f);
    position: relative;

    & > .popupBg {
        background: ghostwhite;
        position: absolute;
        right: 0;
        top: 30px;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 0 0 15px 5px #111111;
        display: none;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    & button[data-view="hamburger"] {
        display: none;
    }
}

aside {
    position: fixed;
    right: 0%;
    top: calc(0% + 50px);
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);

    & .menu {
        display: grid;
        margin-top: 40px;


        & a {
            text-decoration: none;
            color: white;
            padding: 0.7rem 2rem;

            &:hover {
                color: yellow;
                font-weight: bold;
            }
        }
    }
}
@media only screen and (max-width: 550px) {
    aside {
        width: 100%;
        max-width: 200px;
    }

    .categories {
        grid-template-columns: repeat(3, minmax(80px, 90px));
        gap: 10px;
    }

    .nav-menu {
        & a {
            display: none;
        }

        & button[data-view="hamburger"] {
            display: block !important;
            background-color: transparent;
        }
    }

}